body{
    margin: 0;
    padding: 0;
}
div{
    margin: 0 auto;
    padding: 0;
}

.query-input{

}
.query-result{
    width: 600px;
    height: 400px;
    /*background-color: red;*/
    border: 1px solid #000000;
}